* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  height: 50px;
  color: white;
  line-height: 50px;
  text-align: center;
}

[class*="col-"] {
  background-color: #006cfa;
  border: 1px solid white;
  height: 100%;
}

.row .row2 {
  background-color: #006cfa;
  height: 75px;
  padding: 10px;
  width: 100%;
}

.row .row2 [class*="col-"] {
  background-color: #00e165;
  border: 1px solid #006cfa;
}

.spazio {
  height: 50px;
}
